body {
    padding-top:20px
}
#custom_carousel .item {

    color:#fff;
    background-color:transparent;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:transparent;
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:20px;}
#custom_carousel .controls li.active {
    background-color:transparent;
    border-top:3px solid transparent;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:0px;
    font-weight:bold;
}